.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 92vh;
}

/* LEFT SIDE OF PAGE */
.leftSide {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 15px 0px 15px;
    width: 50%;
}

/* PHOTO SECTION OF LEFT SIDE */
.photoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

/* RIGHT SIDE OF PAGE */
.rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 75px;
    width: 50%;
}

.rightSide a {
    margin-top: 20px;
}

/* MOBILE DEVELOPMENT STYLING */

@media (max-width: 450px) {
    
  }