.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}