.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: aqua;
    padding-top: 15px;
    font-size: 25px;
    text-decoration: none;
    width: 100vw;
  }

.navbar ul {
    display: flex;
    flex-direction: row;
    height: 5vh;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    width: 100vw;
}